<section class='public-recipe'>
  <h1>Public Recipes</h1>
  <div class='public-recipe-list'>    
    <% if @public_recipes.exists? %>
      <% @public_recipes.each do |recipe| %>
        <div>
          <% sum = 0 %>
            <%= link_to recipe_path(recipe.id), class:'public-card' do %>

                <div class='public-row'>
                  <p><%= recipe.name %></p>
                  <p>By: <%= recipe.user.name %></p>
                </div>
                
                <div>
                  <strong>Total food items: <%= recipe.recipe_foods.count %></strong> 

                  <% recipe.recipe_foods.each {|food| sum += food.food.quantity * food.food.price} %>                 

                  <strong><span><%= "Total Price $#{sum}" %></span></strong>
                </div>
          <% end %> 
        </div>
        
      <% end %>
        
      <% else %>
        <h2>No recipes availabale!</h2>
    <% end %> 

  </div> 

</section>