<p style="color: green"><%= notice %></p>

  <section class='recipe-show' >

  <p class='recipe-name'> <%= @recipe.name %> </p>

  <div>
    <p>
      <strong>Preparation time:</strong>
      <%= @recipe.preparation_time %>
    </p>

    <%=form_with url: recipe_path(@recipe), method: "patch" do %>
            <label for="public-toggle" class="switch">
              <%= check_box_tag 'public' , @recipe.public, @recipe.public, id: "public-toggle" , onchange: "this.form.submit()" %>
              <span class="slider round"></span>
            </label>
    <% end %>
  
  </div>
 
  <p>
    <strong>Cooking time:</strong>
    <%= @recipe.cooking_time %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @recipe.description %>
  </p>

<%= form_with(model:RecipeFood.new, url: recipe_recipe_foods_path(@recipe), method: :post) do |f| %>
    <%= f.number_field :quantity, placeholder: 'Quantity', min: 0, step:0.01 %>
    <%= f.collection_select :food_id, @recipe.user.foods, :id, :name %>
    <%= f.submit 'Add' %>
  <% end %>


   <table>
    <thead>
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Value</th>
        <th>Actions</th>
        </tr>
    </thead>
    <tbody>
      <% @recipe.recipe_foods.each do |food_recipe| %>
      <tr>
        <td><%= food_recipe.food.name %></td>
        <td> <%= food_recipe.food.measurement_unit %> </td>
        <td> <%= food_recipe.food.price*food_recipe.quantity %></td>
        <td> 
        <div>
          <%= link_to "Modify", recipe_recipe_foods_path(@recipe.id, food_recipe.id) %> 
          <%= button_to "Remove", recipe_recipe_foods_path(@recipe.id, food_recipe.id), :method => :delete %>
        </div>       
        </td>
      </tr>
    <% end %>
   </tbody>
  </table>


  
</section>


























  <%= link_to "Back to recipes", recipes_path %>
