<h1 class="new-food-header">Foods</h1>

<div class="foods">
    <%= button_to "New food", new_food_path, method: :get, class: 'foods-btn food-form-btn' %>
  <table class="food-table">
    <thead>
      <th class="food-t-name">Food</th>
      <th class="food-t-unit">Measurement Unit</th>
      <th class="food-t-price">Unit Price</th>
      <th class="food-t-actions">Actions</th>
    </thead>
    <% @foods.each do |food| %>
    <tbody>
      <tr>
        <td><%= link_to food.name, food_path(food) %></td>
        <td><%= food.measurement_unit %></td>
        <td><%= food.price %></td>
        <td><%= button_to "Delete", food, method: :delete, class: 'user-btn destroy-btn'  %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>
