<div id="<%= dom_id @food %>">
  <table>
    <tr style="display: flex; flex-direction: column">
      <td><%= @food.name %></td>
      <td><%= @food.price %></td>
      <td><%= @food.quantity %></td>
      <td><%= @food.measurement_unit %></td>
      <td><%= @food.created_at %></td>
      <td><%= @food.updated_at %></td>
      <td><%= @food.user_id %></td>
      <td><%= link_to 'Edit', edit_food_path(@food) %></td>
      <td><%= link_to 'Destroy', @food, method: :delete %></td>
    </tr>
  </table>
</div>
