<nav class="nav-bar">
  <ul class="nav-list">
    <li class="nav-item"><%= link_to '🔙', :back, class: 'normalize' %></li>
    <li class="nav-item"><%= link_to 'Foods', foods_path, class: 'normalize' %><li>
    <li class="nav-item"><%= link_to 'Recipes', recipes_path, class: 'normalize' %><li>

    <li class="nav-item"><%= link_to 'Public reciper', public_recipes_path, class: 'normalize' %><li> <!-- change the path to public_recipes_path -->
    <li class="nav-item"><%= link_to 'General Shopping list', foods_path, class: 'normalize' %> <li> <!-- change the path to general_shopping_list_path -->

    <li class="nav-item"><%= link_to 'Public recipes', recipes_path, class: 'normalize' %><li> <!-- change the path to public_recipes_path -->
    <li class="nav-item"><%= link_to 'General Shopping list', general_shopping_list_path, class: 'normalize' %> <li>

  </ul>
  <div class="page-title"><%= params[:controller] %></div>
  <ul class="nav-list">
    <li class="nav-item"><%= button_to "Sign out", destroy_user_session_path, method: :delete, class: 'user-btn' %></li>
    <li class="nav-item"><%= button_to "Delete my account", @user, method: :delete, class: 'user-btn destroy-btn' %></li>
  </ul>
</nav>